---
const images = [
    "/images/king1.png",
    "/images/king2.png",
    "/images/king3.png",
    "/images/king4.png",
    "/images/king5.png",
    "/images/king6.png",
    "/images/king7.png",
    "/images/king8.png",
    "/images/king9.png",
    "/images/king10.png",
    "/images/king11.png",
    "/images/king12.png",
    "/images/king13.png",
    "/images/king14.png",
    "/images/king15.png",
    "/images/king16.png",
    "/images/king17.png",
    "/images/king18.png"
];
---
<section class="max-w-7xl mx-auto px-4 py-24">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 pswp-gallery" id="my-gallery">
        {images.map((image, index) => (
            <a href={image} rel="noreferrer" aria-label="Imagen de Hotel Chaska Valle Green" data-pswp-uid={index + 1} class="block rounded-md overflow-hidden"
               class="shadow-sm" data-pswp-width="831"
               data-pswp-height="552">
                <div class="relative group cursor-pointer">
                    <img loading={index > 5 ? 'lazy' : 'eager'} src={image} alt="BrisHotel Nasca" 
                         class="object-cover object-top w-full h-full rounded-md" />
                    <p class="flex text-white backdrop-blur-sm bg-black/20 text-2xl absolute font-bold w-full gap-2 items-center top-0 h-full justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-500">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
                        </svg>
                        BrisHotel Nasca
                    </p>
                </div>
            </a>
        ))}
    </div>
</section>

<script>
    import PhotoSwipeLightbox from 'photoswipe/lightbox';

    const lightbox = new PhotoSwipeLightbox({ gallery:   '#my-gallery', children: 'a', pswpModule: () => import('photoswipe')
    });
    lightbox.init();
</script>